/* *****css-starter-pack***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* *****\css-starter-pack***** */

/* *****macro***** */

main {
    width: 75%;
    margin: 0 auto;
}

/* *****\macro***** */

/* *****sezione alta***** */

section {
    text-align: center;
    width: 100%;
}

h1 {
    padding: 40px;
}

/* *****\sezione alta***** */

/* *****sezione float***** */


.box {
    width: calc(100% / 3 - 20px);
    border: 2px solid black;
    float: left;
    margin: 10px

}




/* *****\sezione float***** */